Airframe.json
Parachute.json
Rocket.json
定点本番機体再定義ver.ork

memo.txt
Roadmap.txt
Concept.txt
技術メモ.txt

Estes_B4.csv
Estes_B6.csv
Estes_G40.csv
.claude
.vscode
core/__pycache__
monitor/__pycache__
utils/__pycache__
ui/__pycache__
ui_qt/__pycache__
test.rkt